@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base
{
  *{
    @apply p-0 m-0;
  }
  body{
    @apply  text-white;
  }
  main{

    @apply bg-gray-500
  }
  p{
    @apply text-base;
  }
  h1{
    @apply text-3xl ;
  }
  label{
    @apply w-40 font-bold rounded-md;
  }
  input,textarea,select,.gender{
    @apply w-40 rounded-md bg-gray-500 placeholder-black border-2 border-gray-900 text-gray-200 ;
  }
  
  button{
    @apply bg-gray-900 border-2 rounded-md w-32 h-10 text-gray-200 font-bold;
  }
   
}
@layer components
{
 
  .bg-light  
  {
    @apply bg-gray-500;
  }
  .bg-medium 
  {
    @apply bg-gray-700;
  }
  .bg-dark 
  {
    @apply bg-gray-900;
  }
  .text-light
  {
    @apply text-gray-500;
  }
  .text-medium
  {
    @apply text-gray-700;
  }
  .text-dark
  {
    @apply text-gray-900;
  }

  .flex-center
  {
    @apply flex justify-center items-center;
  }
  .flex-between
  {
    @apply flex justify-between items-center ;
  }

  .flex-column
  {
    @apply flex flex-col items-start
  }
  .flex-wraap
  {
    @apply flex flex-wrap justify-between ;
  }
  .link{
    @apply hover:text-black
  }
  
  .table-cell-style {
    @apply border w-32 truncate whitespace-nowrap overflow-hidden;
  }

  .container1
  {
    @apply w-64 h-64  m-5 rounded-2xl bg-gray-500;
  }
    .box-2
    {
      @apply flex flex-col items-center  text-2xl;
    }
    .box-list 
    {
      @apply flex justify-center items-center ;
    }

    .heading2
    {
      @apply text-5xl;
    }
    .inner-list
    {
      @apply  flex flex-col items-start p-10;
    }
  
  

}

